window-background = #eacdea6e;
primary-border=#e0b8ef;
secondary-border=#455B7D;
primary-text = #7d0c7d;
secondary-text = #edb1ed;
ternary-text = #435970;
help-text-color = #e36e68;
small-screen = 600px;
settings-width = 392px;
control-bar-height = 42px;